 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 html {
    font-size: 62.5%;
 }

 body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .tablero {
        display: grid;
        grid-template-columns: repeat(7, 50px);
        grid-template-rows: repeat(7, 50px);
        gap: 5px;

        .casilla {
            background: #212121;
            border: 1px solid #fff;
            cursor: pointer;
            transition: 1s;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }
    }
 }