$jugador1:#ca4b80;
$jugador2:#4bcabf;
$color-principal:#4e4bca;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 6rem;
        text-shadow: -4px 4px 1px $color-principal;
    }
    .btn-play {
        font-size: 2rem;
        padding: 1rem 3rem;
        border: 1px solid $color-principal;
        color: $color-principal;
        background: #fff;
        cursor: pointer;
        margin-top: 4rem;
        border-radius: 3px;
    }
}

.contenedor-tablero {
    display: none;
    flex-direction: column;
    animation: tableroA linear 2s alternate;
    .header-tablero {
        display: flex;
        justify-content: center;
        width: 100%;
        h3 {
            font-size: 2rem;
            margin: 2rem;
        }
        .jugador-1 {
            border-bottom: 3px solid $jugador1;
        }
        .jugador-2 {
            border-bottom: 3px solid $jugador2;
        }
    }
    .tablero {
        display: grid;
        grid-template-columns: repeat(7, 60px);
        grid-template-rows: repeat(7, 60px);
        gap: 5px;
        transition: 1s;
        .casilla {
            background: #212121;
            cursor: pointer;
            transition: 1s;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: transparent;
            transition: 1s;
        }
        .casilla-X {
            background: $jugador1;
        }
        .casilla-O {
            background: $jugador2;
        }
        .casilla-ganador {
            background: $color-principal;
            transition: 1s;
        }
    }
}

.ganador {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: ganador linear 3s alternate;

    .titulo-ganador {
        font-size: 5rem;
        background: $color-principal;
        color: #fff;
        border: 2px solid $color-principal;
        padding: 1rem 3rem;
        margin-bottom: 5rem;
        border-radius: 3px;
        animation: tituloGanador linear .5s alternate;
    }
    .btn-revancha {
        padding: 1rem 2rem;
        background: transparent;
        color: $color-principal;
        border: 1px solid $color-principal;
        cursor: pointer;
    }
}

@keyframes tableroA {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ganador {
    0% {
       background: transparent;
    }
    100% {
        background: #fff;
    }
}

@keyframes tituloGanador {
    0% {
        opacity: .5;
        transform: rotate(0deg) scale(.3);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }
}